:root{

	--border-radius: .5rem;

	--margin: 1rem;

/*	--margin-screen-small: 0.5rem;
	--margin-screen-med: 1rem;
	--margin-screen-large: 1.5rem;

	--padding-screen-small: 0.5rem;
	--padding-screen-med: 0.8rem;
	--padding-screen-large: 1.25rem;	

	--btn-height-screen-small: 1.5rem;
	--btn-height-screen-med: 1.5rem;
	--btn-height-screen-large: 1.5rem;

	--row-height-screen-small: 1.75rem;
	--row-height-screen-med: 1.75rem;
	--row-height-screen-large: 1.75rem;*/



/*	--navbar-height: 4rem;
	--footer-height: 4rem;*/
}


#app {
	padding: 0;
	display: block;
	width: 100%;
	min-height: 100%;
	position: relative;
	margin-top: 4em;
}

body {
	position: relative;
	background: linear-gradient( to bottom, var(--colour-dark) , 80%, var(--colour-light) );
}

.body-spacer{
	height: 2em;
	content: "";
}

.no-click {
	pointer-events: none;
}
.no-wrap {
	white-space: nowrap;
	text-overflow: clip;
}

.width-95{
	width: 95%;
	max-width: 27em;
}
.width-90{
	width: 90%;
	max-width: 25em;
}
.width-85{
	width: 85%;
	max-width: 23rem;
}

.fill-all{
	position: fixed;
	left: -10rem;
	right: -10rem;
	top: -10rem;
	bottom: -10rem;
	z-index: 10;
}

.center-auto-h{
	margin: 0 auto;
}
.center-force-h{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}
.center-force-v{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
.center-force{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);;
}


.border-round{
	border-radius: var(--border-radius);
}




button, .button {
	/*margin: 0.2rem 0.5rem 0.5rem 0.5rem;*/

	/*background-color: var( --colour-button );*/
	/*height: var( --btn-height-screen-large );*/

	/*border: 1px solid transparent;*/

	padding: .15em 0;

	border: none;
	outline: none;
	min-width: 6rem;
	transition: all .05s, background-color .66s, opacity .66s;

	overflow: hidden;
	box-sizing: border-box;
	/*border-radius: calc( var( --border-radius ) * 0.5); */
	/*padding: 0 0.66rem;*/
	position: relative;
	pointer-events: all;
}


.button.button-action{
	background-color: var(--colour-light)
}

.shadow {
	box-shadow: 1px 2px 3px var( --colour-shadow );
	-webkit-box-shadow: 1px 2px 3px var( --colour-shadow );
	-moz-box-shadow: 1px 2px 3px var( --colour-shadow );
}
.button.shadow:active {
	transform: translateX(1px) translateY(3px);
	box-shadow: 1px 1px 0 var( --colour-shadow );
	-webkit-box-shadow: 1px 1px 0 var( --colour-shadow );
	-moz-box-shadow: 1px 1px 0 var( --colour-shadow );	
}



.buttons {
	margin: var(--margin) 0;
}
.buttons > div {
	margin-bottom: calc( var(--margin ) * 0.6);
}
.buttons .button-helper{
	margin-left: calc( var(--margin ) * 0.6);
}





.field{
	position: relative;
	text-align: left;
	display: flex;
	align-items: center;
	margin-bottom: var(--margin);
}

.field > .label {
	padding-right: var(--margin);
	min-width: 1rem;
	vertical-align: middle;
}
.field > .input {
	transition: .33s;
	border-top: 2px solid var(--colour-dark);
	border-left: 2px solid var(--colour-dark);
	border-right: 2px solid var(--colour-pop);
	border-bottom: 2px solid var(--colour-pop);
	flex-grow: 1;
	box-sizing: border-box;
	border-radius: calc(var(--border-radius)*1.5);
	padding-left: var(--margin);
}

/*.field-column {
	position: relative;
	text-align: center;
	flex-direction: column;
}*/

/*.field-column .label{*/
	/*margin: var(--margin);*/
	/*margin-bottom: 1rem;*/
/*}*/

label, .label{
	/*flex: 0;*/
	position: relative;
}



/*:root{
	--margin-screen-small: 0.5rem;
	--margin-screen-med: 1rem;
	--margin-screen-large: 1.5rem;

	--padding-screen-small: 0.5rem;
	--padding-screen-med: 0.8rem;
	--padding-screen-large: 1.25rem;	

	--btn-height-screen-small: 1.5rem;
	--btn-height-screen-med: 1.5rem;
	--btn-height-screen-large: 1.5rem;

	--row-height-screen-small: 1.75rem;
	--row-height-screen-med: 1.75rem;
	--row-height-screen-large: 1.75rem;

	--border-radius: .5rem;

	--navbar-height: 4rem;
	--footer-height: 4rem;
}



.admin-only{
	background-color: hsla(33,66%,75%,1);
}
.admin-only .text, .admin-only .title, .admin-only .header{
	color: black;
}


.hover-trigger {
	position:relative;
}
.hover-message, .hover-message-left {
	position: absolute;
	z-index: 10;
	right: -50%;
	top: 50%;
	margin: 0;
	opacity: 0;
	border-radius: calc( var( --border-radius ) * 0.5);
	background-color: var(--colour-inv);
	pointer-events: none;
	transform: translateX(50%) translateY(-50%);
}
.hover-message .text, .hover-message-left .text{
	margin: 0;
	padding: .15rem .66rem;
}

.hover-trigger:hover .hover-message, .hover-trigger.hover-force .hover-message {
	opacity: 1;
	transform: translateX( calc(100% + 1rem) ) translateY(-50%);
}
.hover-trigger:hover .hover-message-left, .hover-trigger.hover-force .hover-message-left {
	opacity: 1;
	transform: translateX( calc(-100% + -1rem) ) translateY(-50%);
}


#app {
	padding: 0;
	display: block;
	width: 100%;
	min-height: 100%;
	position: relative;
}



#nav {
	padding: 30px;
}



html {
	padding: 0;

	margin: 0;
}
body {
	margin: 0;	
	padding: 0;
	min-height: 100vh;
}

body, footer, .footer {
	position: relative;
}



footer {
	position: absolute;
	left: 0;
	bottom: 0;
	margin: 0;
	padding-top: 1.5rem;	
}


.br-small {
	min-height: 0.8rem;
}

li{
	padding: .25rem;
}



.border {
}
.is-selected .border {
}






.input-container {
	position: relative;
	width: 100%;
	box-sizing: border-box;
	outline: unset;
	flex: 1;
	height: var( --row-height-screen-large );
}

input, textarea, .input, form, .form {
	box-sizing: border-box;
	border: unset;
	outline: unset;
	outline-offset: 0;
}

input ,textarea, .input{
	outline: 2px solid var( --colour-outline );
	overflow: hidden;
	height: var( --row-height-screen-large );
	width: 100%;
	padding: 0 0.5rem !important;
	
	flex: 1;
	background-color: var(--colour-bg-input);
	transition: 0.5s ease;
}
textarea {
	padding-top: .25rem !important;
}
input::placeholder, .input::placeholder , textarea::placeholder {
	color: hsla(1,1%,66%,1);
}
input:focus, .input:focus , textarea:focus {
	background-color: var(--colour-bg-input-focus)
}


.input-add {
	width: 1.5rem;
	height: 1.5rem;
	display: inline-block;
	position: absolute;
	border-radius: 50%;
	top: -.15rem;
	right: -2rem;
}
.input-add .pin{
	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;
	height: 100%;
}
.input-add .pin span{
	display: inline-block;
	position: absolute;
	width: 17%;
	height: 70%;
	transform: translateX(-50%) translateY(-50%);
}

.input-add .pin span:nth-child(1){
	width: 70%;
	height: 17%;
}

.shadow {
	box-shadow: 0 10px 10px var( --colour-shadow );
	-webkit-box-shadow: 0 10px 10px var( --colour-shadow );
	-moz-box-shadow: 0 10px 10px var( --colour-shadow );
}



.flex-row {
	display: flex;
	flex-direction: row;
	align-items: center;
}


@media only screen and (min-width: 600px) {
	.flex-only-on-large {
		margin: 1rem;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}

	.flex-only-on-large .width-90 {
		margin: 0.5rem;
		flex-shrink: 1;
		flex-grow: 1;
		min-width: unset;
		max-width: 23.5rem;
	}	

}


.flex-row-between {
	justify-content: space-between;
}
.flex-row-even {
	justify-content: space-evenly;
}
.flex-row-start {
	justify-content: flex-start;
}
.flex-row-end {
	justify-content: flex-end;
}

.flex-align-start {
	align-items: flex-start;
}
.flex-align-center {
	align-items: center;
}
.flex-align-end {
	align-items: flex-end;
}

.flex-0{
	flex: 0;
}
.flex-1{
	flex: 1;
}

@media only screen and (max-width: 400px) {
	body{
	}
	button , .button , input, .input {
		height: var( --btn-height-screen-med );
	}
	input ,.input{
		height: var( --row-height-screen-med );
	}	
	.width-95{
		width: 97%;
	}
	.width-90{
		width: 93%;
	}
	.width-85{
		width: 88%;
	}
	
}

@media only screen and (max-width: 320px) {
	body{
	}
	button , .button , input, .input {
		height: var( --btn-height-screen-small );
	}
	input ,.input{
		height: var( --row-height-screen-small );
	}
	.width-95{
		width: 98.5%;
	}
	.width-90{
		width: 96%;
	}
	.width-85{
		width: 92%;
	}
	
}

*/