
.panel-parent{
	text-align: center;
}

.panel {
	text-align: center;
	overflow: hidden;
	padding-top: calc( var(--margin) * 0.5);
	margin-top: var(--margin);
	margin-bottom: var(--margin);
}

.panel header{
	position: relative;
	box-sizing: border-box;
	margin: 0 var(--margin);
}
.panel header p{
} 

.panel header .title{
	margin: unset;
	padding: unset;
}


.panel .options{
	position: relative;
}
.panel .options .item{
}

.panel .options .button{
}

.panel main{
	position: relative;
	margin: 0 var(--margin);
}


.panel main .label{
}

.panel .footer{
	position: relative;
	width: unset;
	margin: var(--margin);
}


@media only screen and (max-width: 320px) {
	.panel header .title{
	}
	.panel main{
	}
	.panel footer{
	}
}


@media only screen and (max-width: 400px) {
	.panel header .title{
	}
	.panel main{
	}
	.panel footer{
	}
}


@media only screen and (min-width: 600px) {
	.panel header .title{
	}
	.panel main{
	}
	.panel footer{
	}
}



